# Prerequisites
*.d
.vscode

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

bin
bin_MPI
lib/cub
.vscode
.idea
cmake-build-debug
.vscode
output.txt
*.orig
GEMC
build/*